@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary: #371552;
  --color-primary-text: #0c1421;
  --color-primary-light: rgba(255, 255, 255, 0.2);
  --color-secondary: #ffd700;
  --color-secondary-dark: #b8860b;
  --color-secondary-text: #313957;
}

/* ExtraLight (200) */
@font-face {
  font-family: "Chocolates";
  src: url("./assets/fonts/TT Chocolates Trial ExtraLight.otf")
    format("opentype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

/* Light (300) */
@font-face {
  font-family: "Chocolates";
  src: url("./assets/fonts/TT Chocolates Trial Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Regular (400) */
@font-face {
  font-family: "Chocolates";
  src: url("./assets/fonts/TT Chocolates Trial Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Medium (500) */
@font-face {
  font-family: "Chocolates";
  src: url("./assets/fonts/TT Chocolates Trial Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* SemiBold (600) */
@font-face {
  font-family: "Chocolates";
  src: url("./assets/fonts/TT Chocolates Trial DemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Bold (700) */
@font-face {
  font-family: "Chocolates";
  src: url("./assets/fonts/TT Chocolates Trial Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* ExtraBold (800) */
@font-face {
  font-family: "Chocolates";
  src: url("./assets/fonts/TT Chocolates Trial ExtraBold.otf")
    format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* Black (900) */
@font-face {
  font-family: "Chocolates";
  src: url("./assets/fonts/TT Chocolates Trial Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

.custom-container {
  @apply mx-auto px-4 max-w-7xl;
}
